{% extends "layout.html" %}

{% block title %}My First Website{% endblock %} 

{% block content %}
	<section class="container-fluid bg-info p-5"> 
		<div class="row flex-wrap text-center" style="height: 100vh; justify-content: center; align-items: center">
			<h1 class="text-light w-100 display-4 font-weight-bold mt-5">My Python Website </h1>
			<p class="w-100"><i class="fab fa-python fa-10x text-warning"></i></p>
			<p class="text-light w-100">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus, eum.</p>
		</div>
	</section>
	<section class="container p-5" id="about">
        <div class="">
            <h2 class="text-center display-1">What is <span class="text-warning">python</span></h2>
            <p class="lead">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Saepe at laudantium animi explicabo non molestias illum, placeat qui, eius, accusantium sapiente modi esse architecto ut magni corporis tenetur fugit? Soluta eaque quos quam recusandae in ipsam fugit laudantium corporis doloribus!</p>
        </div>
		<div class="row">
			<div class="col-md-10 col-lg-6 m-auto">
                <h3 class="lead text-warning font-weight-bold mb-4">Code example</h3>
				<code class="code">
					<pre class="code code-content bg-light p-4 rounded">
# Python 3: Fibonacci series up to n
>>> def fib(n):
>>>     a, b = 0, 1
>>>     while a < n:
>>>         print(a, end=' ')
>>>         a, b = b, a+b
>>>     print()
>>> fib(1000)
0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987
					</pre>
				</code>
			</div>
			<div class="col-md-10 col-lg-6 m-auto">
                <h3 class="lead text-warning font-weight-bold mb-4">What can you do with python</h3>
                <ul class="unstyled-list list-group text-info">
                    <li class="list-group-item">
                        Build Web Apps 
                        <i class="fas fa-code fa-2x ml-3"></i>
                    </li>
                    <li class="list-group-item">
                        Build Desktop 
                        <i class="fas fa-desktop fa-2x ml-3"></i>
                    </li>
                    <li class="list-group-item">
                        Scripting Tools
                        <i class="fas fa-tools fa-2x ml-3"></i>
                    </li>
                    <li class="list-group-item">
                        Mathematics
                        <i class="fas fa-calculator fa-2x ml-3"></i>
                    </li>
                    <li class="list-group-item">
                        Data Analysis
                        <i class="fas fa-database fa-2x ml-3"></i>
                    </li>
                </ul>
			</div>
		</div>
    </section>
{% endblock %}
	<footer class="bg-dark">
		<div class="text-center p-5">
			<span class="text-light">&copy; Copyright 2018 | stonecoder </span>
		</div>
	</footer>
	
	<!-- Custom JS -->
	<!-- <script>
		function code () {
			codeground = document.getElementsByClassName('code-content')[0].innerHTML.split('\n');
			codeContainer = document.getElementsByClassName('code-content')[0];
			codeContainer.innerHTML = '';
			//console.log(codeground.length);
			
			for(i = 0; i < codeground.length; i++) {
				var line = codeground[i].substring(0, 1);
				console.log(codeground[i].substring(0, 1));
				if (line === '#') {
					codeground[i] = '<span style="color: green; display:block">' + codeground[i] + '</span>';
					console.log(codeground);
					codeContainer.innerHTML += codeground[i];
				}

				if (line !== '#') {
					codeground[i] = '<span style="color: #eee; display:block">' + codeground[i] + '</span>';
					codeContainer.innerHTML += codeground[i];
				}

				
			}
		}
    </script> -->
    
    <!-- Jquery.jst hen popper.js then bootstrap.js -->
    <!-- @JQuery.js -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <!-- @Popper.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <!-- @Bootstrap.js -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>